@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="padding: 40px 85px;">
        <div class="">
            <p>Anyone welcome here!</p>
        </div>
    </div>
</body>
</html>

